body
  background: url('https://dn-doting.qbox.me/waitan20150207.jpg') center -15px no-repeat fixed

.head
  min-height:400px

.main
.foot
  margin: 0 auto
  width: 900px

.head
  background: no-repeat center center
  -moz-box-sizing: border-box
  box-sizing: border-box

.inner
  width: 80%
  max-width: 900px
  text-align: center
  margin: 0 auto
  padding-top: 200px

.head-title
  font-size-rem(50)
  line-height: 1.2em
  font-weight: 600
  > a
    color: #FFFFFF

.head-nav__item
  display: inline-block
  margin-left: 20px

.head-nav__item:first-child
  margin-left: 0

.head-nav__link
  color: #eeeeee
  &:hover
    color: #FFFFFF
    text-decoration: underline

.content
  background:#eee
  padding: 10px

.main
  margin-top: 30px
  margin-bottom: 30px

.archive-title
  margin: 1.6em
  text-align: center
  // 1.6 * 16
  font-size-rem(25.6)
  font-weight: normal

.comments
  margin: 30px 0
  padding: 60px
  background-color: #FFFFFF
  box-shadow: 1px 2px 3px #DDDDDD

.foot
  padding-bottom: 60px
  background: #EEEEEE

.foot-copy
  color: #999999
  font-size-rem(12)

.page-menu__item
  display: inline-block

.page-menu__link
  color: #FFFFFF
  font-size-rem(30)
  background: #888
  border-left: 1px solid #777

.page-menu__item:first-child .page-menu__link
  border-left: none

.page-menu__link:hover
  background: #9a9a9a

.page-menu__link--disabled
  color: #999999

.page-menu__link--disabled:hover
  background: #888